.newsArticleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsArticleWrapper img {
    display: block;
}

.newsArticleDesc {
    width: 100%;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    font-size: 16px;
}
.newsArticleHeading {
    padding: 0 20px;
    font-size: 11px;
    text-transform: uppercase;
}